{% extends 'base.html' %}

{% block content %}
<p>Our favorite video game experiences are made by game devs who pour their heart and soul into what they do; their creative vision and technical minds give us worlds full of adventure, companions to befriend (or romance!), and stories to uncover.

To past and present game devs, to those who have been laid off, or whose projects were scrapped, and to those still working: We see you. And we see your amazing work, no matter how well-publicized or invisible. You matter to us, and we value you - not just as game devs, but as people.

Show your appreciation for game devs by posting something below. Even a simple "Thank you" could brighten someone's day!
</p>
{% endblock content%}